<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta name="csrf-token" content={csrf_token_value()}>
  <%= live_title_tag assigns[:page_title] || "Account", suffix: ". Crypto Villain" %>
    <link phx-track-static rel="stylesheet" href={Routes.static_path(@conn, "/assets/app.css" )} />
    <script defer phx-track-static type="text/javascript" src={Routes.static_path(@conn, "/assets/app.js" )}></script>
</head>

<body>
  <div class="container">
    <div class="row gx-5">
      <div class="col-sm">
        <nav class="navbar sticky-top navbar-dark theme-bg">
          <div class="container-fluid">
            <div class="col-9 navbar-brand">
              <%= link "Crypto Villain Community", to: Routes.post_index_path(@conn, :index), class: "navbar-brand text-white"%>
            </div>
            <div class="col-2 ps-1">
              <%= render "_user_menu.html" , assigns %>
            </div>
          </div>
        </nav>
        <%= @inner_content %>
      </div>
    </div>
  </div>
</body>

</html>